{% extends 'blog/details.html'  %}

{%block content%}

<div class="container">
    <div><strong><h2 style="color:#cc7a8f;">Other popular posts</h2></strong></div>
    <div class = "container-fluid">
    <div class="d-flex flex-wrap">
    <div class="row">
        {% for post in post_list %}
            <div class = "col-sm-4 d-flex clapcol">
                    <div class = "card mt-4 mb-4">
                        <div class = "card-body">
                        <a href = "{% url 'blog:detailedview' post.post_id %}" class = "link">
                        <h6>{{post.post_title}}</h6>
                        </a>
                        </div>
                    </div>
            </div>
            
        {% endfor %}
    
</div>
</div>
</div>

{%endblock%}