{%load static%}
<!doctype html>
<html lang="en">
    
{% include 'blog/head.html' %}
    
<body>
    
    {% include 'blog/navbar.html' %}
    
    <div class = "container mt-4">
        <div class="jumbotron postcontent">
          <h1 class="display-4" style="text-align: center;">{{title}}</h1>
          <h5 style="font-size: 15px">published on {{pub_date.day}}.{{pub_date.month}}.{{pub_date.year}}</h5>
          <hr class="my-4" style="color: snow">
            <p>{{content}}</p>
          <p class="lead">
              <form action = "{%url 'blog:claps' post_id%}" method="post">
                {%csrf_token%}
                <input class="btn detailbt" type="submit" value="clap">
              </form>
          </p>
        </div>
    </div>
{%block content%}
    
{% endblock %}
</body>
</html>