
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body style="background-color:#c6a79f;">
    <div style="background-color:#80584d;color:white;padding:20px;">
      <h2>{{title}}</h2>
        <h5>{{pub_date.day}}.{{pub_date.month}}.{{pub_date.year}}</h5>
      <p>{{content}}</p>
    </div>


    <div id = 'afterclap'>
        {%block 'afterclap'%}
        <form action = "{%url "blog:claps" post_id%}" method="post">
            {%csrf_token%}
            <input type="submit" value = "clap" >
            <a href="{% url 'blog:homeview' %}"><strong style="color:#80584d;">Go Back?</strong></a>
        </form>
        {% endblock %}
    </div>

</body>
</html>