<!--posts uploaded by user-->
{% block content %}

    {% if post_list %}
        {% for post in post_list %}

        {% block article-cards%}
            <div class="container">
                  <div class="card mt-4 mb-4 postcard">
                    <div class="card-body">
                        <h5 class="card-title titleauth">{{post.post_title|upper}}</h5>
                        <p class="card-text">{{post.post_content|truncatechars:100}}</p>
                        <!--<img class = "rounded-circle article-img" src="{{ user.profile.image.url }}">-->
                        <a class = "muted-text" style="text-align: left;color: black;" href="{% url 'user-posts' post.author.user.username %}">
                        {{post.author.user.username}}</a>
                        <a href="{% url 'blog-detail' post.post_id %}" class="card-link ml-4"> READ </a>
                    </div>
                  </div>
                </div>

        {% endblock article-cards%}

        {%endfor%}

        {% include 'blog/paginate.html' %}

    {% else %}

    <h1> No Posts Available! </h1>

    {% endif %}
{% endblock content %}